<mat-drawer-content>
    <div>
        <mat-paginator (page)="onPageChange($event)"
                       [length]="totalElements"
                       [pageSizeOptions]="[3, 6, 9]"
                       [pageSize]="3">
        </mat-paginator>
        <div class="example-sidenav-content" fxLayout="row wrap" fxLayout.xs="column"
             fxLayoutAlign="space-evenly center">
            <app-json-schema-card *ngFor="let schemaBlock of schemaBlocks" [schemaBlock]="schemaBlock"></app-json-schema-card>
        </div>
    </div>
</mat-drawer-content>
