.vf-navigation__item {
  font-weight: 400;
  font-size: 18px;
}

.vf-navigation--main .vf-navigation__link {
  color: #379dd8;
}

.login-nav-link {
  font-weight: 400;
  font-size: 18px;
  color: #379dd8;
}
