<article [class.content]="!deviceXs" [class.content-mob]="deviceXs" (scroll)="onScroll($event)">
    <mat-toolbar>
        <button *ngIf="deviceXs" type="button" mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        Component
    </mat-toolbar>

    <mat-drawer-container class="example-container">
        <mat-drawer #drawer [mode]="deviceXs?'over':'side'" [opened]="!deviceXs" position="start" fxFlex="20"
                    fxLayout="column" fxLayoutAlign="start space-between" [style.marginTop.px]="10" [style.top.px]="sideBarScroll()">
            <mat-list role="list" class="list-width" *ngFor="let i of [].constructor(2)">
                <mat-list-item role="listitem" class="list-item" matRipple>Side Bar Item List</mat-list-item>
            </mat-list>
        </mat-drawer>
        <!-- <p>Test</p> -->
        <app-schema-list></app-schema-list>
    </mat-drawer-container>
</article>
