.checklist {
  width: 80%;
  margin: 0 auto;
  clear: both;
}

.schema-id-wrapper {
  width: 100%;
  margin-top: 30px;
}

.schema-id-label {
  float: left;
  margin: 20px 5px 0 0;
  font-size: 17px;
}

.schema-id {
  float: left;
  margin: 5px 5px 5px 0;
}

.checklist-field-label {
  width: 100%;
  float: left;
  font-size: 17px;
  margin-top: 20px;
}

.field-name {
  width: 20%;
  float: left;
  margin: 5px 5px 5px 0;
}

.field-type {
  width: 15%;
  float: left;
  margin: 5px 5px 5px 5px;
  padding: 8px 24px;
}

.string-pattern {
  width: 20%;
  float: left;
  margin: 5px 5px 5px 5px;
}

.string-format {
  width: 15%;
  float: left;
  margin: 5px 5px 5px 5px;
  padding: 8px 24px;
}

.number-min {
  width: 5%;
  float: left;
  margin: 5px 5px 5px 5px;
  padding: 8px 24px;
}

.number-max {
  width: 5%;
  float: left;
  margin: 5px 5px 5px 5px;
  padding: 8px 24px;
}

.add-field-button {
  float: left;
  clear: both;
  margin: 10px 0;
  padding: 2px;
  font-size: 20px;
  color: #3b6fb6;
  background-color: #ffffff;
  border: 1px solid #3b6fb6;
}

.add-field-button:hover {
  color: #ffffff;
  background-color: #3b6fb6;
}

.action-buttons {
  display: inline-block;
  clear: both;
  width: 100%;
  margin: 50px 0;
}

.create-button {
  float: left;
}

.update-button {
  float: left;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}