<div class="vf-form checklist-editor-wrapper">

    <form [formGroup]="checklistForm" class="checklist">

        <div class="checklist-editor">
            <div class="schema-field-wrapper width-20">
                <label for="schema-name" class="schema-field-label">Name</label>
                <input id="schema-name" type="text" formControlName="schemaName"
                       placeholder="my-sample-checklist" class="vf-form__input schema-input" (change)="onChangeSchemaIdFields()">
            </div>
            <div class="schema-field-wrapper width-20">
                <label for="schema-version" class="schema-field-label">Version</label>
                <input id="schema-version" type="text" formControlName="schemaVersion"
                       placeholder="1.0.0" class="vf-form__input schema-input" (change)="onChangeSchemaIdFields()">
            </div>
            <div class="schema-field-wrapper width-30">
                <label for="schema-domain" class="schema-field-label">Domain</label>
                <input id="schema-domain" type="text" formControlName="schemaDomain"
                       placeholder="https://www.ebi.ac.uk/biosamples/schemas" class="vf-form__input schema-input" (change)="onChangeSchemaIdFields()">
            </div>

            <div class="schema-field-wrapper width-20">
                <label for="meta-schema" class="schema-field-label">Meta-Schema</label>
                <select id="meta-schema" formControlName="metaSchema" class="vf-form__select meta-schema">
<!--                    <option value="" disabled selected>Format</option>-->
                    <option value="draft-07" selected>draft-07</option>
                    <option value="biosamples-schema">biosamples-schema</option>
                </select>
            </div>

            <div class="schema-field-wrapper width-40">
                <label for="schema-title" class="schema-field-label">Title</label>
                <input id="schema-title" type="text" formControlName="schemaTitle"
                       placeholder="Title of schema" class="vf-form__input schema-input">
            </div>

            <div class="schema-field-wrapper width-60">
                <label for="schema-description" class="schema-field-label">Description</label>
                <input id="schema-description" type="text" formControlName="schemaDescription"
                       placeholder="Description of schema" class="vf-form__input schema-input">
            </div>

            <div class="schema-field-wrapper width-50">
                <label for="schema-id" class="schema-field-label">Schema ID</label>
                <input id="schema-id" type="text" formControlName="schemaId"
                       placeholder="https://www.ebi.ac.uk/biosamples/schemas/my-sample-checklist/1.0.0"
                       class="vf-form__input schema-input">
            </div>
            <div class="schema-field-wrapper width-20">
                <label for="schema-accession" class="schema-field-label">Accession</label>
                <input id="schema-accession" type="text" formControlName="schemaAccession"
                       placeholder="BSDC00001" class="vf-form__input schema-input">
            </div>
        </div>

        <div formArrayName="checklistFields" class="checklist-field-group">
            <div class="checklist-field-label">Checklist Fields</div>
            <div *ngFor="let checklistField of checklistFields.controls; let i=index">
                <div [formGroupName]="i">
                    <app-checklist-field [parentForm]="getFormGroupFromIndex(i)"></app-checklist-field>
                </div>
            </div>
        </div>

        <button (click)="addField()" class="add-field-button">+ Add Field</button>

        <div class="action-buttons">
            <button (click)="updateChecklist()" class="vf-button vf-button--tertiary update-button">Update</button>
            <button (click)="onSubmitChecklist()" class="vf-button vf-button--secondary create-button">Create</button>
        </div>
    </form>

</div>