.checklist {
  width: 80%;
  margin: 0 auto;
  clear: both;
}

.checklist-editor {
  margin-top: 30px;
}

.schema-field-wrapper {
  overflow: auto;
  display: block;
  float: left;
  padding-right: 1%;
  margin: 5px 0 5px 0;
}

.schema-field-label {
  float: left;
  //margin: 20px 5px 0 0;
  font-size: 17px;
}

.schema-input {
  float: left;
  margin: 5px 5px 5px 0;
  width: 100%;
}

.checklist-field-label {
  width: 100%;
  float: left;
  font-size: 17px;
  margin-top: 20px;
}

.meta-schema {
  float: left;
  margin: 5px 5px 5px 0;
  padding: 8px 24px;
}

.add-field-button {
  float: left;
  clear: both;
  margin: 10px 0;
  padding: 2px;
  font-size: 20px;
  color: #3b6fb6;
  background-color: #ffffff;
  border: 1px solid #3b6fb6;
}

.add-field-button:hover {
  color: #ffffff;
  background-color: #3b6fb6;
}

.action-buttons {
  display: inline-block;
  clear: both;
  width: 100%;
  margin: 50px 0;
}

.create-button {
  float: left;
}

.update-button {
  float: left;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.width-15 {
  width: 15%;
}

.width-20 {
  width: 20%;
}

.width-30 {
  width: 30%;
}

.width-40 {
  width: 40%;
}

.width-45 {
  width: 45%;
}

.width-50{
  width: 50%;
}

.width-60{
  width: 58%;
}

.width-100 {
  width: 100%;
}