<mat-card class="schema-card">
    <mat-card-header>
        <div class="example-header-image" fxLayoutAlign.xs="center center" mat-card-avatar></div>
        <mat-card-title>{{schemaBlock.title}}</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{schemaBlock.description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><a [queryParams]="{$id: schemaBlock.$id}" routerLink="/editor">View</a></button>
    </mat-card-actions>
    <mat-card-footer>
        <mat-expansion-panel (afterExpand)="onExpansionPanel()"
                             (closed)="panelOpenState = false"
                             (opened)="panelOpenState = true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    List of Versions
                </mat-panel-title>
                <mat-panel-description>
                    Click to See more
                </mat-panel-description>
            </mat-expansion-panel-header>
            <!--content start -->
            <mat-paginator (page)="onPageChange($event)"
                           [length]="totalElements"
                           [pageSizeOptions]="[3, 6, 9]"
                           [pageSize]="3">
            </mat-paginator>
            <mat-list>
                <mat-list-item *ngFor="let schema of schemaBlocks">{{schema.title}}</mat-list-item>
            </mat-list>
            <!--content end -->
        </mat-expansion-panel>
    </mat-card-footer>
</mat-card>
