<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image" fxLayoutAlign.xs="center center"></div>
        <mat-card-title>{{schemaBlock.title}}</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/schemablock.png"
         alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>{{schemaBlock.description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="viewSchema()">View</button>
    </mat-card-actions>
</mat-card>
