.checklist-field-group {
  overflow: auto;
  display: block;
  width: 100%;
  background-color: #f1f0f0;
  margin: 1px;
  border-bottom: 1px solid #cecece;
}

.checklist-field {
  float: left;
  margin: 5px 5px 5px 0;
}

.field-name {
  width: 20%;
}

.field-type {
  width: 10%;
  padding: 8px 24px;
}

.string-pattern {
  width: 20%;
}

.string-format {
  width: 10%;
  padding: 8px 24px;
}

.numeric-value {
  width: 10%;
  float: left;
}

.enum-list {
  width: 40%;
}

.const {
  width: 40%;
}

.description {
  width: 40%;
}

.field-checkbox {
  float: left;
  margin: 16px 5px 0 5px;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}