<div fxLayout="column" fxLayoutAlign="start" class="editor">
    <div>
        <div fxFlex>
            <div class="vf-section-header">
                <div class="vf-section-header__heading vf-section-header__heading--is-link">Schema Editor</div>
            </div>
            <json-editor #editor [data]="editorJsonSchema" [options]="jsonEditorOptions"></json-editor>
        </div>
        <div fxLayoutAlign="start center">
            <button (click)="onClickMetaSchemaViewer()" *ngIf="isMetaSchemaViewerDisable"
                    aria-label="Meta schema Expansion button"
                    mat-icon-button>
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
            <button (click)="onClickMetaSchemaViewer()" *ngIf="!isMetaSchemaViewerDisable"
                    aria-label="Meta schema shrink button"
                    mat-icon-button>
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
        </div>
        <div *ngIf="isMetaSchemaViewerDisable" fxFlex>
            <div class="vf-section-header">

            </div>
            <div class="vf-grid vf-grid__col-2">
                <label class="vf-section-header__heading vf-section-header__heading--is-link" for="vf-form__select">Select Meta-Schema</label>
                <select class="vf-form__select meta-schema-select" id="vf-form__select" #metaSchemaSelect
                        (change)='onMetaSchemaSelect(metaSchemaSelect.value)'>
                    <option *ngFor="let m of metaSchemaSelectList" value="{{m[0]}}">{{m[1]}}</option>
                </select>
            </div>
            <json-editor #editorMetaSchema [data]="metaSchema" [options]="metaEditorOptions"></json-editor>
        </div>
    </div>
</div>

<div class="action-bar" fxLayoutAlign="end">
    <button class="vf-button vf-button--tertiary vf-button--sm" [matMenuTriggerFor]="menu">Download Template</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item disabled>CSV</button>
        <button mat-menu-item disabled>JSON</button>
        <button mat-menu-item disabled>XML</button>
    </mat-menu>
    <button class="vf-button vf-button--primary vf-button--sm" (click)="createJsonSchema()" *ngIf="!isUpdate">Create</button>
    <button class="vf-button vf-button--tertiary vf-button--sm" (click)="deleteJsonSchema()" *ngIf="isUpdate">Delete</button>
    <button class="vf-button vf-button--primary vf-button--sm" (click)="updateJsonSchema()" *ngIf="isUpdate">Update</button>
</div>