/* You can add global styles to this file, and also import other style files */
@import "~jsoneditor/dist/jsoneditor.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// snackbar global styles begins
.snackbar-success {
  background-color: #258625;
  color: white;
  .mat-button-wrapper {
    color: white;
  }
}

.snackbar-warn {
  background-color: #bfbf0d;
  color: white;
  .mat-button-wrapper {
    color: white;
  }
}

.snackbar-error {
  background-color: #d54646;
  color: white;
  .mat-button-wrapper {
    color: white;
  }
}
// snackbar global styles ends
