<div>
    <div fxLayout="column" fxLayoutAlign="start center">
        <mat-form-field appearance="outline" class="search-bar">
            <mat-label>Search</mat-label>
            <input #search (keydown.enter)="doSearch(search)" matInput placeholder="Schema title" type="search">
            <mat-icon (click)="doSearch(search)" class="search-icon" matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <div fxLayout="column">
        <div>
            <mat-paginator (page)="onPageChange($event)"
                           [length]="totalElements"
                           [pageSizeOptions]="[3, 6, 9]"
                           [pageSize]="3">
            </mat-paginator>
        </div>
        <div>
            <app-json-schema-card *ngFor="let schemaBlock of schemaBlocks"
                                  [schemaBlock]="schemaBlock"></app-json-schema-card>
        </div>
    </div>
</div>
