<div class="schema-search">
    <div fxLayout="column" fxLayoutAlign="start center">
        <div class="vf-form | vf-search vf-search--inline search-bar">
            <div class="vf-form__item | vf-search__item">
                <input [(ngModel)]="searchText" type="search" placeholder="Search Schema"
                       id="inlinesearchitem" class="vf-form__input | vf-search__input">
            </div>
            <button (click)="search()" class="vf-search__button | vf-button vf-button--primary">Search</button>
        </div>
    </div>


    <div fxLayout="column" fxLayoutAlign="start center">
        <div class="search-result" *ngIf="schemas">
            <mat-paginator [length]="totalElements"
                           [pageSize]="pageSize"
                           [pageIndex]="pageIndex"
                           [pageSizeOptions]="pageSizeOptions"
                           (page)="onPageChange($event)">
            </mat-paginator>
            <app-json-schema-card *ngFor="let schema of schemas"
                                  [schemaBlock]="schema"></app-json-schema-card>
        </div>
    </div>
</div>
