.login-form-wrapper {
  width: 50%;
  margin: 0 auto;
  padding-top: 200px;
}

.login-form {
  width: 100%;
  padding: 50px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  display: inline-block;
}

#username {

}

#password {

}

.login-button {
  float: right;
}