<mat-toolbar color="primary">
    <mat-toolbar-row fxLayoutAlign="space-between center">
        <div fxLayout="row">
            <button mat-button>
                <mat-icon>home</mat-icon>
                <span class="logo">Schema UI</span>
            </button>
            <div *ngIf="!deviceXs">
                <button mat-button>Home</button>
                <button mat-button>About</button>
                <button mat-button>Contact us</button>
            </div>
        </div>
        <div>
            <button mat-icon-button>
                <mat-icon *ngIf="deviceXs">more_vert</mat-icon>
                <span *ngIf="!deviceXs">Menu</span>
            </button>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between end">
        <button mat-button>Home</button>
        <button mat-button>About</button>
        <button mat-button>Contact us</button>
    </mat-toolbar-row>
</mat-toolbar>

